body {
  background-color: #226cfe;
}

a {
  text-decoration: none;
  color: white;
}

a > svg {
fill: white;
}

.coin-title {
  display: flex;
  gap: 1vw;
  padding-left: 10vw;
}

.coin-title > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coin-image {
  opacity: 1;
}

.coin-name,
.coin-symbol,
.coin-rank {
  margin: 0.5vw;
  font-family: "Gill Sans", sans-serif;
  color: white;
}

.coin-name {
  font-size: 8vw;
}

.coin-symbol {
  font-size: 5vw;
}

.coin-rank {
  font-size: 3vw;
  font-weight: bolder;
}
